
/*THIS CSS HAS BEEN DESIGNED FOR TELERIK SIMULATED ANDROID TABLET*/



/*List fix checkbox layout on activity page -holmes*/

p.pushRight{
    padding-left: 10%;
}

p{
    font-weight: bold;
    font-size: .78em;
}
/*end fix -holmes*/

/*List fix checkbox layout on cubs page -holmes*/
.ui-checkbox input {
    position: absolute;
    width: 40px;
    height: 40px;
    outline: 0!important;
    margin-top: -2%;
    margin-left: -3%;
    z-index: 1;
    color:gold;
}

.checkBoxLeft{
    position: relative; 
}

h3.pushRight{
    padding-left: 10%;
}

/*end fix -holmes*/

/*login styling -holmes*/

.login{
    height:100%;
}

/*end styling -holmes */

/*Banner -holmes*/
.spacer{
    height: 40%;
}
.banner{
    overflow:hidden;
	text-align: left;
	margin: 0px auto;
	padding: 0px;
	border:0;
    padding-left: -10%;
	width: 100%;
    height: 200px;
}
h1{
    color: gold;
}
.box-l{
    float: left;
	width: 35%;
    height:100%;
	
}
.box-l img{
    padding-top:10%;
    padding-left: 15%;
	height: 80%;    
}
.box-r{
    margin: 0;
	float: left;
	width: 65%;
    height:100%;
}

.box-r h1{
    padding-top:8%;
}
/*end Banner -holmes*/


.ui-footer {
    text-align: center;
    padding: 0.3em;
}

.ui-footer > .footerText {
    font-size: 0.8em;
    position: relative;
    top: -2px;
}

.err {
    color: red;
}

.buttons {
    text-align: center;
}

.left {
    float: left;
    display: inline-block;
}

.right {
    float: right;
    display: inline-block;
}

.clear {
    clear: both;
}
/*
 * fix footer button alignment
 */
.ui-footer
{
    padding-left: 0px;
}
}
